
{%extends "layout.html"%}
{% block content%}
<head>
    <link rel="stylesheet" href="static/css/bootstrap.css">
    <link rel="stylesheet" href="static/css/font-awesome.min.css">
</head>
<main class="hero-section">
    <div class="container">
        <div class = "section-content">
            <h2>Discover places near you.</h2>
            <a href="#" class="btn-primary">Sign up</a>
            <a href="#" class="btn-secondary">Learn more</a>
       </div>
        <div class="section-device">
            <img src="static/img/device.png" width="400" height="300">
        </div>
        <div class="clearfix"></div>
    </div>
</main>
{%endblock%}